.section-todo {
    width: 100%;
    height: 100%;
}

.todo {
    &-list {
        background-color: #ffffff;
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
        max-width: 50rem;
        width: 70%;
        margin: 1rem auto 0;
        list-style: none;
        padding: 1rem 2rem;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    &-inputs {
        border-top: 1px solid #dadada;
        background-color: #ffffff;
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
        max-width: 50rem;
        width: 70%;
        margin: 0 auto 1rem;
        padding: 1rem 2rem;
    }

    &-item {
        padding: 0.5rem 0;
        cursor: pointer;
        background-color: inherit;

        &:not(:last-child) {
            border-bottom: 1px solid #dadada;
        }
    }

    &-content {
        margin: 0;
        margin-left: 3rem;
        padding: 0.3rem 0;
        position: relative;
        background-color: inherit;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            border: 1px solid black;
            width: 1.4rem;
            height: 1.4rem;
            top: 50%;
            left: 0;
            transform: translate(-180%, -50%);
        }

        &.completed {
            color: #4d4d4d;
            text-decoration: line-through;

            &::before {
                background-color: blue;
                outline: 2px solid blue;
                outline-offset: 2px;
            }
        }
    }
}
