.section-header {
    background-color: transparent;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    // box-shadow: 0 1rem 4rem rgba(0, 0, 255, 0.1);
}
